<section id="about">
  <% if (config.description) { %>
    <%- markdown(config.description) %>
  <% } %>
  <p style="display: inline">
    <% if (theme.customize.social_links) { %>
      Znajdź nas na
      <ul id="sociallinks">
        <% for(var i in theme.customize.social_links) { %>
          <li><%- icon_link(i, theme.customize.social_links[i]) %></li>
        <% } %>
      </ul>.
    <% } %>
  </p>
</section>

<section id="writing">
  <span class="h1"><a href="<%- url_for("archives") %>">Ogłoszenia</a></span>
  <ul class="post-list">
    <% site.posts.sort('date', 'desc').limit(theme.customize.post_count || 5).each(function(post, i){ %>
      <li class="post-item">
        <% if (post.event) { %>
          <span class="post-meta event-details">
            <%- partial('_partial/post/event/post_details', { post: post }) %>
          </span>
        <% } else { %>
        <span class="post-meta">
          <%- partial('_partial/post/date', { post: post, class_name: 'meta' }) %>
        </span>
        <% } %>
        <span class="post-title">
          <%- partial('_partial/post/title', { post: post, index: true, class_name: '' }) %>
        </span>
      </li>
    <% }); %>
  </ul>
</section>
